<html>

  <head>
    <title>Seyam Chowdhury</title>
    <link rel="stylesheet" href="../../public/css/main.css" />
  </head>

  <body>
    <div class="container">
      <ul class="nav">
        <li>{{#navLink "/about"}}About{{/navLink}}</li>
         <li>{{#navLink "/addItem"}}Add Item{{/navLink}}</li>
      </ul>
      {{{body}}}
    </div>
  </body>

</html>