<div class="container" style="padding-top: 90px;">
  <div class="row">
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p>Stay tuned for future updates...</p>
    </aside>
    <section class="main col-md-9">
      <article>
        <h2>About</h2>
        <p>
          My name is Seyam Chowdhury and I’m currently studying web development
          in the WEB322 course. I’m passionate about learning JavaScript,
          Node.js and Express to build robust web applications. In the future, I
          aim to become a full-stack developer!
        </p>
        <p>
          I’m also interested in backend technologies, API integrations and
          cloud platforms. This project is part of my journey to becoming a
          proficient web developer.
        </p>
      </article>
    </section>
  </div>
</div>